@include mediaXl {
}
@include mediaLg {
  #header {
    .brand img {
      margin-top: 5px;
      height: 30px;
    }
    .container.sticky {
      .nav-bar {
        width: 100%;
      }
    }
    .nav-list {
      ul {
        position: absolute;
        top: 0;
        left: 100%;
        height: 100vh;
        width: 100vw;
        @include flex;
        flex-direction: column;
        font-size: 20px;
        letter-spacing: 1px;
        background: rgb(22, 22, 22);
        @include easeOut;
        &.open {
          left: 0%;
        }
      }
      li {
        @include easeOut;
        opacity: 0;
      }
      li.open {
        opacity: 1;
        &:nth-child(1) {
          transition-delay: 0.4s;
        }
        &:nth-child(2) {
          transition-delay: 0.6s;
        }
        &:nth-child(3) {
          transition-delay: 0.8s;
        }
        &:nth-child(4) {
          transition-delay: 1s;
        }
        &:nth-child(5) {
          transition-delay: 1.2s;
        }
        &:nth-child(6) {
          transition-delay: 1.4s;
        }
      }

      .hamburger {
        display: flex;
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translate(0, -50%);
        z-index: 100;
        cursor: pointer;
        @include easeOut;

        &.open {
          height: 20px;

          .bar {
            background: crimson;
          }
        }
      }
    }
  }
  #home {
    .company-icon img {
      display: none;
    }
  }
  #wedding,
  #gathering,
  #rental {
    .wrapper {
      width: 100%;
    }
    .text {
      margin-right: 50px;
      gap: 10px;
      width: 100%;
      padding: 10px;
      h1 {
        font-size: 30px;
      }
    }
    .image img {
      width: 400px;
    }
  }
  #menu {
    .wrapper {
      width: 700px;
      grid-gap: 10px;
    }
  }
}

@include mediaMd {
  #home {
    .wrapper {
      justify-content: center;
    }
    .title {
      h1 {
        font-size: 50px;
      }
    }
    .contact-us p {
      font-size: 20px;
    }

    .buttons {
      font-size: 15px;
    }
  }
  #why,
  #servings {
    .cards-wrapper {
      flex-direction: column;
    }
    .card {
      margin-top: 20px;
    }
  }
  #wedding,
  #gathering,
  #rental {
    .wrapper {
      flex-direction: column;
    }
    .text {
      margin: 0;
      order: 2;
      width: 70%;
    }
    .image img {
      order: 1;
      width: 300px;
      margin: 0;
    }
  }
  #contact {
    .title h1 {
      font-size: 30px;
    }
    .main {
      margin-top: 20px;

      .wrapper {
        flex-direction: column;
        width: 600px;
      }
    }
    .address {
      height: 200px;
    }
    .map iframe {
      margin-top: 20px;
      height: 200px;
      width: 400px;
    }
  }
  #menu {
    .main {
      margin-top: 20px;
    }
    .title {
      h1 {
        font-size: 40px;
      }
    }
    .wrapper {
      margin-top: 20px;
      grid-template-columns: repeat(2, 1fr);
      width: 600px;
    }
  }
  #gallery {
    .main {
      h1 {
        font-size: 25px;
      }
      p {
        font-size: 16px;
      }
    }
    .image-gallery {
      grid-template-columns: auto auto auto;
      .img-15 {
        grid-column-start: span 2;
      }
      .img-16 {
        grid-column-start: span 3;
      }
    }
  }
}
@include mediaSm {
  #header {
    .brand img {
      height: 20px;
    }
  }

  #home {
    .title {
      p {
        font-size: 17px;
      }
    }
    .buttons {
      font-size: 12px;
    }
    .contact-us p {
      letter-spacing: 0px;
    }
  }
  #why,
  #servings {
    .title h1 {
      font-size: 30px;
    }
  }
  #wedding,
  #gathering,
  #rental {
    .wrapper {
      flex-direction: column;
    }
    .text {
      order: 2;
      width: 90%;
    }
    .image img {
      order: 1;
      width: 250px;
    }
  }
  #about {
    .main {
      h1 {
        font-size: 40px;
      }
      p {
        width: 300px;
        font-size: 13px;
      }
    }
  }
  #contact {
    .main {
      .wrapper {
        width: 300px;
      }
    }
    .icon {
      background: transparent;
      i {
        color: #fff;
        font-size: 20px;
      }
    }
    .text {
      margin-left: 0px;
      font-size: 15px;
    }
    .map iframe {
      width: 280px;
    }
  }
  #menu {
    .main {
      width: 100%;
      overflow: hidden;
    }
    .title {
      p {
        font-size: 18px;
      }
    }
    .wrapper {
      width: 400px;
    }
    .image img {
      width: 120px;
      height: 120px;
    }
    .name h5 {
      font-size: 15px;
    }
  }
  #gallery {
    .main {
    }
    .image-gallery {
      display: block;
      .img {
        display: block;
        width: 100%;
      }
    }
  }
}
